<html>
<body>
<style>

    .borderStyle  {
        border-collapse: collapse;
        border: 1px solid black;
    }

    .noBorderStyle {
        border: none;
    }
</style>

            <table  style="width:100%">
                <tr>
                    <td  style="width:20%">
                        <img src='$logo' width="100%" />
                    </td>
                    <td style="width:90%">
                        <center>
                            <h3><b> $data.meeting.clubName.asText() </b><br></br>
                                Meeting: $data.meeting.id<br></br>
                                Date  :  $data.meeting.date.asText()<br></br>
                                Time  :  $data.meeting.time.asText()<br></br>
                                Venue :  $data.meeting.venue.asText()<br></br>
                                Meeting Theme :<b> $data.meeting.theme.asText()</b><br></br>
                            </h3>
                        </center>
                    </td>
                </tr>
            </table>



            #set( $introEnd = $timeUtil.getTime( $data.meeting.time.asText() , "13" ))

            <h4><b>Introduction Section ($data.meeting.time.asText() - $introEnd) </b> </h4>

            <table style="width:100%" class="borderStyle">
                <thead>
                <tr>
                    <th class="borderStyle">Time in minute</th>
                    <th class="borderStyle">Role player</th>
                    <th class="borderStyle">event</th>
                    <th class="borderStyle">Name of role player</th>
                </tr>
                </thead>
                <tbody>
                <tr class="borderStyle">
                    <td class="borderStyle">1</td>
                    <td class="borderStyle">SAA</td>
                    <td class="borderStyle">Reading of Toastmaster's mission, general meeting guidance and handover to Presiding officer</td>
                    <td class="borderStyle">$data.meeting.saaName.asText()</td>
                </tr>
                <tr>
                    <td class="borderStyle">2</td>
                    <td class="borderStyle">Presiding Officer</td>
                    <td class="borderStyle">Welcome the audience, call guests to introduce and introduction of TMOD</td>
                    <td class="borderStyle">$data.meeting.presidentName.asText()</td>
                </tr>
                <tr>
                    <td class="borderStyle">2</td>
                    <td class="borderStyle">TMOD</td>
                    <td class="borderStyle">Brief on meeting structure, describe ballot and introduce word of the day and Introduce GE</td>
                    <td class="borderStyle">$data.meeting.tmodName.asText()</td>
                </tr>
                <tr>
                    <td class="borderStyle">3</td>
                    <td class="borderStyle">GE</td>
                    <td class="borderStyle">Role description by GE, supplementary role players introduction and role description by each role player (Timer, Grammarian, Ah counter) and handing over the stage back to TMOD</td>
                    <td class="borderStyle">$data.meeting.geName.asText()</td>
                </tr>
                <tr>
                    <td class="borderStyle">5</td>
                    <td class="borderStyle">TMOD</td>
                    <td class="borderStyle">Theme Presentation - Part 1</td>
                    <td class="borderStyle">$data.meeting.tmodName.asText()</td>
                </tr>
                </tbody>
            </table>

            #set( $preparedEnd = $introEnd)
            #foreach ($sp in $data.speech)
                #set( $preparedEnd=  $timeUtil.getTime( $preparedEnd , $sp.timeMax.asText(),'1' ))
            #end
            #set( $preparedEnd=  $timeUtil.getTime( $preparedEnd , $sp.timeMax.asText(),'6' ))
            <h4><b>Prepared Speeches Section ($introEnd - $preparedEnd )</b></h4>

            <table style="width:100%" class="borderStyle">
                <thead>
                <tr>
                    <th class="borderStyle">Min time in minute</th>
                    <th class="borderStyle">max time in minute</th>
                    <th class="borderStyle">Speaker</th>
                    <th class="borderStyle">Evaluator</th>
                    <th class="borderStyle">Project Name</th>
                </tr>
                </thead>
                <tbody>
                #foreach ($sp in $data.speech)
                 <tr>
                    <td class="borderStyle">$sp.timeMin.asText()</td>
                    <td class="borderStyle">$sp.timeMax.asText()</td>
                    <td class="borderStyle">$sp.speakerName.asText()</td>
                    <td class="borderStyle">$sp.evaluatorName.asText()</td>
                    <td class="borderStyle">$sp.projectName.asText()</td>
                 </tr>
                 #end
                </tbody>
            </table>
            <table style="width:100%" class="borderStyle">
                <thead>
                <tr>
                    <th class="borderStyle">Time in minute</th>
                    <th class="borderStyle">Role player</th>
                    <th class="borderStyle">event</th>
                    <th class="borderStyle">Name of role player</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="borderStyle">1</td>
                    <td class="borderStyle">SAA</td>
                    <td class="borderStyle">Voting for best speaker</td>
                    <td class="borderStyle">$data.meeting.saaName.asText()</td>
                </tr>
                <tr>
                    <td class="borderStyle">5</td>
                    <td class="borderStyle">TMOD</td>
                    <td class="borderStyle">Theme presentation Part 2</td>
                    <td class="borderStyle">$data.meeting.tmodName.asText()</td>
                </tr>
                </tbody>
            </table>

            #set( $tableTopicEnd = $timeUtil.getTime( $preparedEnd , '21' ))

            <h4><b>Table topics Section ( $preparedEnd  - $tableTopicEnd)</b></h4>
            <table style="width:100%" class="borderStyle">
                <thead>
                <tr>
                    <th class="borderStyle">Time in minute</th>
                    <th class="borderStyle">Role player</th>
                    <th class="borderStyle">event</th>
                    <th class="borderStyle">Name of role player</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="borderStyle">15</td>
                    <td class="borderStyle">TTM</td>
                    <td class="borderStyle">Table topics section</td>
                    <td class="borderStyle">$data.meeting.ttmName.asText()</td>
                </tr>
                <tr>
                    <td class="borderStyle">1</td>
                    <td class="borderStyle">SAA</td>
                    <td class="borderStyle">Voting for best table topic speaker</td>
                    <td class="borderStyle">$data.meeting.saaName.asText()</td>
                </tr>
                <tr>
                    <td class="borderStyle">5</td>
                    <td class="borderStyle">TMOD</td>
                    <td class="borderStyle">Theme presentation Part 3</td>
                    <td class="borderStyle">$data.meeting.tmodName.asText()</td>
                </tr>
                </tbody>
            </table>

            #set( $evaluationEnd = $tableTopicEnd )
            #foreach ($sp in $data.speech)
                #set( $evaluationEnd=  $timeUtil.getTime( $evaluationEnd , '4' ))
            #end
            #set( $evaluationEnd =  $timeUtil.getTime( $evaluationEnd , '22' ))

            <h4><b>Evaluations Section ( $tableTopicEnd - $evaluationEnd )</b></h4>
            <table style="width:100%" class="borderStyle">
                <thead>
                <tr>
                    <th class="borderStyle">Time in minute</th>
                    <th class="borderStyle">event</th>
                    <th class="borderStyle">Name of role player</th>
                </tr>
                </thead>
                <tbody>
                #foreach ($sp in $data.speech)
                <tr>
                    <td class="borderStyle">4</td>
                    <td class="borderStyle">Evaluation of $sp.speakerName.asText() for $sp.projectName.asText()</td>
                    <td class="borderStyle">$sp.evaluatorName.asText()</td>
                </tr>
                #end
                <tr>
                    <td class="borderStyle">4</td>
                    <td class="borderStyle">Timer report presentation</td>
                    <td class="borderStyle">$data.meeting.timerName.asText()</td>
                </tr>
                <tr>
                    <td class="borderStyle">4</td>
                    <td class="borderStyle">Ah counter report presentation</td>
                    <td class="borderStyle">$data.meeting.ahCounterName.asText()</td>
                </tr>
                <tr>
                    <td class="borderStyle">4</td>
                    <td class="borderStyle">Grammarian report presentation</td>
                    <td class="borderStyle">$data.meeting.grammarianName.asText()</td>
                </tr>
                <tr>
                    <td class="borderStyle">4</td>
                    <td class="borderStyle">GE report for overall meeting</td>
                    <td class="borderStyle">$data.meeting.geName.asText()</td>
                </tr>
                <tr>
                    <td class="borderStyle">1</td>
                    <td class="borderStyle">Voting for best evaluator, best role player and best supp role player by SAA</td>
                    <td class="borderStyle">$data.meeting.saaName.asText()</td>
                </tr>
                <tr>
                    <td class="borderStyle">3</td>
                    <td class="borderStyle">Winners announcement and closing remarks by Presiding Officer</td>
                    <td class="borderStyle">$data.meeting.presidentName.asText()</td>
                </tr>
                <tr>
                    <td class="borderStyle">2</td>
                    <td class="borderStyle">Request for next meeting roles</td>
                    <td class="borderStyle">$data.meeting.vpeName.asText()</td>
                </tr>


                </tbody>
            </table>


</body>
</html>